<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find awsp_controller)/config/rosconsole.conf"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find awsp_pose_estimator)/config/rosconsole.conf"/>

    <node
            pkg = "awsp_pose_estimator"
            name = "awsp_pose_estimator_ekf_node"
            type = "awsp_pose_estimator_ekf_node"
            args = "100"
            output="screen"
            required = "true"
    />

    <!--<node-->
            <!--pkg = "awsp_controller"-->
            <!--name = "awsp_controller_node"-->
            <!--type = "awsp_controller_node"-->
            <!--output="screen"-->
            <!--required = "true"-->
    <!--/>-->
</launch>