#!/usr/bin/env python
PACKAGE = "awsp_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

## Lookup table for the bitmaps of different groups and elements
# 0 -> Gains
# 1 -> Dynamic model related
# 2 -> System modes RESERVED FOR ONLY ON AND OFF
# 3 -> LLA goal points
# 4 -> Cross Group Logging
# 5 -> debugging

gen = ParameterGenerator()

gen = ParameterGenerator()

vessel_task = gen.add_group("current_vessel_task")

vessel_task.add("goal_latitude", double_t, 3, "Latitude",    57.01572037, 55.01572037,   60)
vessel_task.add("goal_longitude", double_t, 3, "Longitude",    9.985309601, 8.985309601,   11)
vessel_task.add("ready_to_move", bool_t, 3, "", False)

system_mode = gen.enum([ gen.const("SYSTEM_OFF",      int_t, 0, "System OFF"),
                         gen.const("SYSTEM_ON",     int_t, 1, "System ON"),
                         ], "Turn the system ON or OFF")
vessel_task.add("system_mode", int_t, 2, "Turn the system ON or OFF", 0, 0, 2, edit_method=system_mode)

vessel_task.add("log_goal_points", bool_t, 4, "", False)

general = gen.add_group("general_config")

general.add("damping_surge", double_t, 1, "Surge damping",    .5, 1.00001,   2)
general.add("damping_yaw", double_t, 1, "Yaw damping",    .5, 1.00001,   2)
general.add("propeller_distance", double_t, 1, "Propeller Distance", .5, 0.01,   2)

general.add("log_general_config", bool_t, 4, "", False)

control = gen.add_group("control_system_config")

control.add("linear_gain",  double_t,    0, "An Integer parameter", 0,  0.001, 5)
control.add("angular_gain", double_t, 0, "A double parameter",    0, 0.001,   5)
control.add("log_control_system_config", bool_t, 4, "", False)
control.add("use_fault_detection", bool_t, 0, "", True)

debugging = gen.add_group("logging")

debugging.add("log_imu_raw", bool_t, 5, "", False)
debugging.add("log_imu_kalman", bool_t, 5, "", False)
debugging.add("log_gps_raw", bool_t, 5, "", False)
debugging.add("log_gps_kalman", bool_t, 5, "", False)

exit(gen.generate(PACKAGE, "awsp_controller_node", "Parameters"))